@page "/hello"

@using System.Net.Http.Json
@using HR_Application.Models

@inject OracleDataService OracleDataService

<h3>Hello</h3>
<MudTable Items="@Elements" Hover="true" Loading="@_loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Employee ID</MudTh>
        <MudTh>First Name</MudTh>
        <MudTh>Last Name</MudTh>
        <MudTh>Email</MudTh>
        <MudTh>Phone Number</MudTh>
        <MudTh>Hire Date</MudTh>
        <MudTh>Job ID</MudTh>
        <MudTh>Salary</MudTh>
        <MudTh>Commission Pct</MudTh>
        <MudTh>Manager ID</MudTh>
        <MudTh>Department ID</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Id">@context.Id</MudTd>
        <MudTd DataLabel="First Name">@context.FirstName</MudTd>
        <MudTd DataLabel="Last Name">@context.LastName</MudTd>
        <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Phone Number">@context.PhoneNumber</MudTd>
        <MudTd DataLabel="Hire Date">@context.HireDate</MudTd>
        <MudTd DataLabel="Job Id">@context.JobId</MudTd>
        <MudTd DataLabel="Salary">@context.Salary</MudTd>
        <MudTd DataLabel="Commission Pct">@(Math.Round((decimal)(context.CommissionPct ?? 0), 2))</MudTd>
        <MudTd DataLabel="Manager Id">@context.ManagerId</MudTd>
        <MudTd DataLabel="Department Id">@context.DepartmentId</MudTd>
    </RowTemplate>
</MudTable>


@code {
    private bool _loading = true;
    private IEnumerable<Employee> Elements = new List<Employee>();

    protected override async Task OnInitializedAsync()
    {   
        Elements = await OracleDataService.GetDataForModels<Employee>(0);
        _loading = false;
        StateHasChanged();
    }

}

